<div class="container">
  <div class="row mt-5">
    <!--ジャンル検索フォーム用のcol-->
    <div class="col-3 mr-3">

    </div>
    <div class="col-8">
      <span class="h3 mt-2 mb-2"><strong>商品一覧</strong></span><span class="h5"> (全<%= @items.count %>件)</span>
      <!--商品の登録ができるようになってから記述-->
      <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
