<div class="container">
  <div class="row mt-5">
    <!--ジャンル検索フォーム用のcol-->
    <div class="col-3 mr-3">

    </div>
    <div class="col-8">
      <div class="flex">
        ここに商品画像
        <div class="right">
          <p class="item-title">商品名</p>
          <p class="item-text">商品の説明</p>
          個数選択　カートに入れる
        </div>
      </div>
    </div>
  </div>
</div>
